.createBox {
	display: flex;
	flex-direction: column;
	background-color: #1a1a1a;
	border-radius: 12px;
	margin-top: -400px;
	padding: 1rem;
}

.createInputs {
	display: flex;
	flex-direction: row;
}

.createBox label {
	font-weight: bold;
	margin-right: 10px;
}

.createBox button {
	background-color: #752586;
	margin-top: 20px;
	width: 100px;
}

.createBox h2 {
	margin-top: 5px;
}
