
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.main-container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
}


